.DS_Store
list.todo
wp-config.php
/wp-content/uploads
/wp-content/cache
/wp-content/w3tc-config
/wp-content/upgrade
/wp-content/advanced-cache.php
/wp-content/*.zip
/wp-content/*.sql
/wp-content/*.sql.gz
/wp-content/*.log
/wp-content/*.txt
/wp-content/*.md
/wp-content/*.xml
/wp-content/ai1wm-backups
/wp-content/backups-dup-lite/*.zip
/wp-content/backups-dup-lite
/wp-content/backups
.htaccess