/* 
    advance-1-start
*/
.px-advance {
    &-area {
        max-width: 1920px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 24px;
        padding-right: 24px;
    }


    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 24px;
        border-radius: 20px;
        overflow: hidden;

        @media #{$xl} {
            grid-template-columns: 1fr 1fr 1fr;
        }

        @media #{$lg} {
            grid-template-columns: 1fr 1fr ;
        }

        @media #{$md} {
            grid-template-columns: 1fr 1fr ;
        }

        @media #{$xs} {
            grid-template-columns: 1fr ;
        }
    }
    
    &-item {
        background-color: #F8F8F8;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 95px;
        justify-content: space-between;


        .item-img {
            padding-right: 30px;
            filter: grayscale(1);
            transition: all .5s var(--lw-cube-1);
            transform-origin: left top;
        }

        .title {
            font-size: 26px;
            margin-bottom: 13px;


            @media #{$xxxl,$xxl,$xl,$lg,$md,$xs} {
                font-size: 22px;
            }
        }

        .content {
            padding: 0 48px;
            padding-bottom: 48px;

            @media #{$xxl,$xl,$lg,$md,$xs} {
                padding: 0 28px;
                padding-bottom: 48px;
            }
        }


        &:hover {
            .item-img {
                filter: grayscale(0);
                transform: scale(105%);
            }
        }

        &:nth-child(even) {
            .content {
                padding: 0 48px;
                padding-bottom: 0px;
                padding-top: 48px;

                @media #{$xxl,$xl,$lg,$md,$xs} {
                    padding: 0 28px;
                    padding-bottom: 0px;
                    padding-top: 48px;
                }
            }
            .item-img {
                transform-origin: left bottom;
            }
        }


    }
}
/* 
    advance-1-end
*/