/* 
    exclusive-start
*/
.px-exclusive {
    &-sec-title {
        max-width: 780px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 53px;
    }

    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 16px;



        @media #{$md} {
            grid-template-columns: 1fr 1fr 1fr;
        }

        @media #{$xs} {
            grid-template-columns: 1fr;
        }

        @media #{$sm} {
            grid-template-columns: 1fr 1fr;
        }

        .perspective {
            perspective: 2000px;
            transform-style: preserve-3d;
        }
    }

    &-item {
        background: #F2F3F5;
        box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.12);
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 42px;
        padding: 37px 20px;
        height: 100%;

        img {
            transition: all .5s var(--px-cube-1);
        }

        .item-title {
            font-size: 22px;
            line-height: 28px;
            text-align: center;
            max-width: 200px;
            font-weight: 400;
        }

        &:hover {
            img {
                transform: translateY(10px);
            }
        }
    }

}

/* 
    exclusive-end
*/