/* 
    footer-start
*/
.px-footer {

    &-area {
        background-color: #0C0C0C;
        margin-bottom: 24px;
    }

    &-bg-glow {
        width: 56%;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
    }

    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        gap: 50px;
        align-items: end;
        margin-right: -50px;

        @media #{$xxxl,$xxl,$xl,$lg} {
            margin-right: 0px;
        }

        @media #{$md,$xs} {
            margin-right: 0px;
            grid-template-columns: 1fr;
        }
    }
    
    &-content {
        padding-bottom: 134px;

        @media #{$md,$xs} {
            padding-bottom: 0px;
        }

        > .icon {
            margin-bottom: 48px;
        }

        .title {
            color: var(--lw-clr-white-1);
            margin-bottom: 24px;
            span {
                color: var(--lw-clr-pr-1);
            }
        }

        .disc {
            font-size: 24px;
            line-height: 32px;
            color: var(--lw-clr-white-1);
            margin-bottom: 40px;
            opacity: 88%;
            font-weight: 300;
        }

    }
    

    &-img {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: end;


        &-single {
            margin-right: -175px;
            filter: drop-shadow(28px -24px 40px rgba(0, 0, 0, 0.32));


            &:nth-child(1) {
                position: relative;
                z-index: 2;

            }
            &:nth-child(2) {
                position: relative;
                z-index: 1;
            }
        }
    }

    &-copyright {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        flex-wrap: wrap;

        @media #{$md,$xs} {
            justify-content: center;
        }


        &-border {
            padding: 24px 0;
            border-top: 1px solid rgba(255, 255, 255, 16%);
        }
    
        .design {
            color: var(--lw-clr-white-1);
            text-transform: capitalize;
            opacity: 80%;

            a {
                color: var(--lw-clr-pr-1);
                font-weight: 500;
                transition: all .5s var(--lw-cube-1);
                &:hover {
                    transform: translateX(5px);
                }
            }
        }

        .copyright-text {
            color: var(--lw-clr-white-1);
            opacity: 80%;
        }
    }
    

    &-social {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
    
        .link {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 42px;
            height: 42px;
            flex:  0 0 auto;
            background: rgba(255, 255, 255, 0.08);
            box-shadow: inset 0px -1px 1px rgba(255, 255, 255, 0.23);
            border-radius: 50%;
            color: var(--lw-clr-white-1);
            transition: all .5s var(--lw-cube-1);

            &:hover {
                box-shadow: inset 0px -1px 1px rgb(219 166 110);
                color: var(--lw-clr-pr-1);
            }
        }
    }
    

    &-demo {
        &-1 {
            width: 17%;
            height: 140px;
            border-radius: 8px;
            position: absolute;
            top: -3%;
            left: 22%;
            z-index: -1;

            @media #{$xs} {
                display: none;
                
            }
        }

        &-2 {
            width: 19%;
            height: 220px;
            border-radius: 8px;
            position: absolute;
            left: -6%;
            top: 17%;
            z-index: -1;

            @media #{$xs} {
                display: none;
                
            }
        }

        &-3 {
            width: 20%;
            height: 187px;
            border-radius: 8px;
            left: 7%;
            bottom: 13%;
            position: absolute;
            z-index: -1;

            @media #{$xs} {
                display: none;
                
            }
        }

        &-4 {
            width: 20%;
            height: 210px;
            border-radius: 8px;
            position: absolute;
            right: -3%;
            top: 6%;
            z-index: -1;

            @media #{$xs} {
                display: none;
                
            }
        }

        &-5 {
            width: 20%;
            height: 181px;
            border-radius: 8px;
            position: absolute;
            right: -6%;
            bottom: 18%;
            z-index: -1;

            @media #{$xs} {
                display: none;
                
            }
        }
    }
}


/* 
    footer-end
*/