.lw-h-1 {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: var(--lw-font-1);
    line-height: 1.166;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--lw-clr-h-1);
    margin-bottom: 0;
}

.lw-p-1 {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: var(--lw-font-2);
    font-size: 18px;
    line-height: 1.666;
    font-weight: 500;
    color: var(--lw-clr-p-1);
    margin-bottom: 0;
}



.lw-sec-title-1 {
    font-family: var(--lw-font-1);
    text-transform: capitalize;
    font-weight: 600;
    font-size: 64px;
    line-height: 1.166;
    color: var(--lw-clr-h-1);
    margin-bottom: 0;
    letter-spacing: -0.02em;
    
    @media #{$xl} {
        font-size: 60px;
    }

    @media #{$lg} {
        font-size: 55px;
    }

    @media #{$md} {
        font-size: 45px;
    }

    @media #{$sm} {
        font-size: 30px;
    }

    @media #{$xs} {
        font-size: 35px;
    }

    &:is(.has-fs-52) {
        font-size: 52px;
        letter-spacing: -0.02em;

        @media #{$lg} {
            font-size: 50px;
        }
    
        @media #{$md} {
            font-size: 45px;
        }
    
        @media #{$xs} {
            font-size: 28px;
        }
        @media #{$sm} {
            font-size: 30px;
        }
    

    }
}
